*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
}
.button_container{
    display: flex;
    justify-content: center;
     align-items: center; 
}
button{
    position: absolute;
    display: block;
     top: 400px;
    left: 700px;  
    
    display: block;
    padding: 10px 30px;
    font-size: 30px;
    background-color: aqua;
    color: white;
    border-radius:10px ;
    border: none;
    border-bottom: 5px  solid red ;
    transition: 2s ease-in-out;
}
button:hover{
    background-color: yellowgreen;
    transform: rotate(360);
    transform: scale(1.5);
    transition: 2s ease-in-out;
}